* {
    box-sizing: border-box;
}

.products {
    border: 2px solid red;
}

.nav {
list-style-type: none;
display: flex;
}

.nav li:not(:last-child) {
    padding-right: 10px;
}

.parent {
    position: relative;
}

.parent:hover .items {
    display: block;
}

.items {
    list-style-type: none;
    position: absolute;
    display: none;
    width: 150px;
}

.parent-2 {
    position: relative;
}

.parent-2:hover .sub-items {
    display: block;
    position: absolute;
    left: 30px;
}

.sub-items {
    display: none;
    list-style: none;
    width: 170px;
}

